{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <form action="{% url 'logout' %}" method='post'>
        {% csrf_token %}
        <input type="submit" value='Logout'>
    </form>
    {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
{% else %}
    <a href="{% url 'login' %}"> Login </a>
{% endif %}
<hr>

<h1>My Todo List</h1>

<table>
    <tr>
        <th>Items</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task-details' task.id  %}">View Detail</a></td>
        <td><a href="{% url 'task-create' %}">Add Task</a></td>
        <td><a href="{% url 'task-update' task.id %}">Task-Update</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Task Delete</a></td>
    </tr>

    {% empty %}
    <h3>No items in list</h3>
    <a href="{% url 'task-create' %}">Add new Task</a>

    {% endfor %}
</table>
